<script>
  要不还是联系开发者获取密码吧？私自破解也会被记录IP哦。<br>
  作者邮箱：mr.chu.sakura@gmail.com
</script>

<h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="<%= e.name %>"></i><%= e.name %></h4>
<div class="row">
  <% menus.forEach(function(menu) { %>
  <div class="col-sm-3">
    <div class="xe-widget xe-conversations box2 label-info" onclick="handleClick('<%= menu.name %>', '<%= menu.url %>')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= menu.url %>">
      <div class="xe-comment-entry">
        <a class="xe-user-img">
          <img data-src="<%= menu.img %>" class="lozad img-circle" width="40">
        </a>
        <div class="xe-comment">
          <a href="#" class="xe-user-name overflowClip_1">
            <strong><%= menu.name %></strong>
          </a>
          <p class="overflowClip_2"><%= menu.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<br />